<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShadowTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShadowTech.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
</head>
<body>
    
	<header>
        <a class="nav-link  text-mypurple" asp-area="" asp-controller="Home" asp-action="Index">ShadowTech</a>
        <a class="nav-link  text-mypurple" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        <a class="nav-link  text-mypurple" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
        <a class="nav-link  text-mypurple" asp-area="" asp-controller="Carts" asp-action="Index">Cart</a>
        <partial name="_LoginPartial" />
	</header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted container">
        <img class="img-flex" src="~/images/dec2.png" alt="Decoratiune">
        &copy; 2024 - ShadowTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
