@{
    ViewData["Title"] = "Home Page";
}

<div class="firstlook">
	<img class="img-fluid" style="width:120%" src="images/ShadowTech.png" alt="Cap de tap">
</div>

<div class="container">
	
	<div class="dec2 p-2">
		<img src="images/dec1.png" alt="Decoratiune">
		<img src="images/dec1.png" alt="Decoratiune">
	</div>

	<div class="card-deck mb-3 text-center d-flex justify-content-around">
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/laptop.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/laptop.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/laptop.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>

	<img class="img-fluid" style="width:100%" src="~/images/dec3.png" alt="Decoratiune">

	<div class="card-deck mb-3 text-center d-flex justify-content-around">
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/dec4.png" style="height:100%" alt="...">
		</div>
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/laptop.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		<div class="card bg-transparent" style="width: 25rem; margin-top:15px; text-align: center;">
			<img src="~/images/laptop.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
		
	</div>
</div>





