@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column">
	<div class="firstlook position-static p-2">
		<img src="images/ShadowTech.png" alt="Cap de tap">
	</div>
	<div class="dec2 p-2">
		<img src="images/dec1.png" alt="Decoratiune">
		<img src="images/dec1.png" alt="Decoratiune">
	</div>

	<div class="d-flex justify-content-between">
		<div class="cartonas">0X00</div>
		<div class="cartonas">0X01</div>
		<div class="cartonas">0X02</div>
	</div>

	<div class="d-flex justify-content-between">
		<img class="img3cartonas " src="images/dec3.png" alt="Decoratiune">
	</div>

	<div class="d-flex justify-content-between">
		<img class="img1cartonas" src="images/dec4.png" alt="Decoratiune">
		<div class="cartonas">0X03</div>
		<div class="cartonas">0X04</div>
	</div>

 </div>


