@model Shadow_Tech.Models.Category


@{
    ViewBag.Title = "Adaugare Categorie";
}


<h2>Add Category</h2>

<form asp-action="New" asp-controller="Categories" method="post">

    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <br />
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Description" class="form-label">Description</label>
        <br />
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Image" class="form-label">Category Image</label>
        <br />
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <br /><br />
    <button class="btn btn-success" type="submit">Add Category</button>
</form>
