html {
    font-size: 14px;
}

@font-face {
    font-family: 'Riseria';
    src: url('../fonts/RiseriaRegular-YzYRO.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Brave';
    src: url('../fonts/ViolentBrave-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #7d4e72;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Brave;
}

header a {
    padding: 24px 50px;
    font-size: 3rem;
    text-decoration: none;
    color: #7d4e72;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

header a:hover {
    background-color: #71648b;
    color: #fff;
}

body {
    color: #ef4f7b;
    font-family: Riseria, sans-serif;
    background: url('../images/BackGroundShadowTech.png') repeat;
    background-size: cover;
}

.firstlook {
    display: flex;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:100vh;
    max-width:100%;
}

.firstlook img {
    object-fit: contain;
    width:100vw;
    height:auto;
    max-height: 200%;
    max-width:200%;
}

.dec2 {
        margin-top:-15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.cartonas {
    width: 35vh;
    height: 40vh;
    background-color: #2d181b;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 45px;
    box-shadow: 8px 8px 10px rgb(125,78,114);
}*/

/*.container_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);*/ /* 3 coloane egale pentru ecrane mari */
    /*gap: 20px;*/ /* spațiu între div-uri */
    /*padding: 20px;*/
    /*    height:auto;*/
    /*width: 100%;
    height: auto;
}

.card {
    position: relative;
    width: 100%;
    padding-top: 133.33%;*/ /* Proporția 3:4 (4/3 = 1.3333, deci 100% / 1.3333 = 75%) */
    /*background-color: #f4f4f4;*/ /* Poți schimba culoarea de fundal după dorință */
    /*border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/ /* Umbră subtile pentru cartonaș */
    /*overflow: hidden;
    transition: transform 0.3s ease;
}*/

    /* Stare la hover pentru cartonaș */
    /*.card:hover {
        transform: scale(1.05);
    }

.img_3card {
    grid-column: span 3;
 
}

@media (max-width: 1000px) {
    .container_row {
        grid-template-columns: 1fr;*/ /* Un singur cartonaș pe linie */
    /*}

    .img_3card {
        width: 100%; 
        padding-top: 75%; 
    }
}*/



/*.img_3card {
    width: 100%;
    padding-top: 75%;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.img1cartonas {
    width: 35vh;
    height: 40vh;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 45px;
    border-radius: 10px;
}*/

.productCard {
    width:35rem;
    height:35rem;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-color: #7a3a84;
/*    margin-left: 25px;*/
    color: #7a3a84;
    box-shadow: 8px 8px 10px #f15178;
/*    margin-left:10px;
    margin-right:10px;*/
}

.productCardOneLine {
    width: 80rem;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-color: #7a3a84;
/*    margin-left: 10px;
    margin-right: 10px;*/
    color: #7a3a84;
    box-shadow: 8px 8px 10px #f15178;
}

.homeCard {
    width: 23rem;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-color: #7a3a84;
    margin-left: 25px;
    color: #7a3a84;
    box-shadow: 8px 8px 10px #f15178;
}
.homeCard img{
    margin-top:15px;
    align-self:center;
}


.rating {
    direction: rtl;
    font-size: 2rem;
    unicode-bidi: bidi-override;
    display: inline-flex;
}

.rating input {
    display: none; /* Ascundem input-urile radio */
}

.rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #f5b301; /* Galben pentru stelele selectate */
}

/*.gradient-custom {*/
    /* fallback for old browsers */
    /*background: #6a11cb;*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));*/
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}*/

.stil {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border-color: #7a3a84;
    color: #7a3a84;
    box-shadow: 8px 8px 10px #f15178;
}